// Primary collor
$c-primary-brand: #FE450B;
$c-primary-40: #6B1A00;
$c-primary-70: #FF2E00;
$c-primary-100: #FFF5F3;
$c-primary-accent: #FF2E00;

// Buttons collor
$c-top-btns: #1D1D1E;

// Neutral Grey collor

$c-gray-00: #000;
$c-gray-10: #1B1B1B;
$c-gray-20: #2D2F31;
$c-gray-30: #47494D;
$c-gray-40: #5F6266;
$c-gray-50: #767A80;
$c-gray-60: #8E9299;
$c-gray-70: #A6ABB2;
$c-gray-80: #C3C7CC;
$c-gray-90: #E0E4EA;
$c-gray-96: #F0F2F5;
$c-gray-98: #F5F7FA;
$c-gray-100: #FFF;

// Error collor
$c-error-04: #7B0404;
$c-error-03: #FE0B0B;
$c-error-02: #FBDCDC;
$c-error-01: #FFF4F4;


// Warning collor

$c-warning-04: #4A3F02;
$c-warning-03: #FFD706;
$c-warning-02: #FAEFB3;
$c-warning-01: #FFFADE;


// Success collor
$c-success-04: #094708;
$c-success-03: #76F058;
$c-success-02: #D1F9C2;
$c-success-01: #ECFFE5;
