/* ------------ NeueMontreal ------------ */
@font-face {
	font-family: Header-Medium;
	font-display: swap;
	src : url('@assets/fonts/NeueMontreal/NeueMontreal-Medium.otf') format("otf");
}

@font-face {
	font-family: Base-Regular;
	font-display: swap;
	src : url('@assets/fonts/NeueMontreal/NeueMontreal-Regular.otf') format("otf");
}

