/* ------------ NeueMontreal ------------ */
@font-face {
  font-family: Header-Bold;
  font-display: swap;
  src: url('@assets/fonts/ClashDisplay-Variable.woff2') format("woff2");
}

@font-face {
  font-family: Base-Regular;
  font-display: swap;
  src: url('@assets/fonts/Favorit-Regular.woff2') format("woff2");
}

@font-face {
  font-family: Base-MonoRegular;
  font-display: swap;
  src: url('@assets/fonts/FavoritMono-Regular.woff2') format("woff2");
}


