/* ------------ NeueMontreal ------------ */
@font-face {
	font-family: Header-Bold;
	font-display: swap;
	src : url('@assets/fonts/ClashDisplay-Variable.ttf') format("ttf");
}

@font-face {
	font-family: Base-Regular;
	font-display: swap;
	src : url('@assets/fonts/Favorit-Regular.otf') format("otf");
}

@font-face {
	font-family: Base-MonoRegular;
	font-display: swap;
	src : url('@assets/fonts/FavoritMono-Regular.otf') format("otf");
}


