/* ------------ Heading ------------ */
.h1 {
  font-family: $ft-header-fonts-bold;
  font-style: normal;
  font-size: em(92);
  font-weight: 700;
  line-height: 80.435%;
  text-transform: uppercase;
}

.h2 {
  font-family: $ft-header-fonts-bold;
  font-style: normal;
  font-size: em(56);
  font-weight: 700;
  line-height: 89.286%;
  text-transform: uppercase;
}

.h3 {
  font-family: $ft-header-fonts-bold;
  font-style: normal;
  font-size: em(28);
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

/* ------------ Paragraph ------------ */
.disclaimer {
  font-family: $ft-disclaimer;
  font-style: normal;
  font-size: em(94);
  font-weight: 900;
  line-height: 85%;
  text-transform: uppercase;
}

.body-l {
  font-family: $ft-body-fonts-regular;
  font-style: normal;
  font-size: em(18);
  font-weight: 400;
  line-height: 144.444%;
}

.body-m {
  font-family: $ft-body-fonts-regular;
  font-style: normal;
  font-size: em(14);
  font-weight: 400;
  line-height: 157.143%;
}

.mono-l {
  font-family: $ft-body-fonts-mono-regular;
  font-style: normal;
  font-size: em(14);
  font-weight: 400;
  line-height: 128.571%;
  text-transform: uppercase;
}

.mono-m {
  font-family: $ft-body-fonts-mono-regular;
  font-style: normal;
  font-size: em(12);
  font-weight: 400;
  line-height: 133.333%;
  text-transform: uppercase;
}

.mono-s {
  font-family: $ft-body-fonts-mono-regular;
  font-style: normal;
  font-size: em(10);
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

/* ------------ text mods ------------ */
.h2-indent {
  text-indent: em(97);
}

.h1-indent {
  text-indent: em(59);
}

.mix-indent {
  text-indent: em(59);
}

.align-justify {
  text-align: justify;
  text-align-last: justify;
}


/* ------------ text collor ------------ */
.t-gray-10 {
  color: $c-gray-10;
}

.t-gray-70 {
  color: $c-gray-70;
}

/* ----------------------- tablet styles ------------------------------ */
@include tablet {
  /* ------------ Heading ------------ */
  .h1 {
    font-size: px(64);
  }

  .h2 {
    font-size: px(44);
  }

  .h3 {
    font-size: px(26);
  }

  /* ------------ Paragraph ------------ */
  .body-l {
    font-size: px(18);
  }

  .body-m {
    font-size: px(14);
  }

  .mono-l {
    font-size: px(14);
  }

  .mono-m {
    font-size: px(12);
  }

  .mono-s {
    font-size: px(10);
  }

  .disclaimer {
    font-size: em(120);
  }

  /* ------------ text mods ------------ */
  .h2-indent {
    text-indent: 22.5vw;
  }

  .h1-indent {
    text-indent: em(59);
  }

  .mix-indent {
    text-indent: 22.5vw;
  }

  .txt-tablet-48px{
    font-size: px(48);
  }
}


@include horizmobile {
  /* ------------ Heading ------------ */
  .h1 {
    font-size: px(44);
  }

  .h2 {
    font-size: px(34);
  }

  /* ------------ Paragraph ------------ */
  .body-l {
    font-size: px(16);
  }

  .disclaimer {
    font-size: px(44);
  }

  /* ------------ text mods ------------ */
  .h2-indent {
    text-indent: 14vw;
  }

  .h1-indent {
    text-indent: px(59);
  }

    .mix-indent {
    text-indent: 14vw;
  }

  .txt-tablet-48px{
    font-size: px(34);
  }

}


@include mobile {
}


