/* ----------------------- grid dividers ------------------------------ */
.w-1col-4gap {
  @include m-col-1-grid($row-gap: em(4));
}

.w-1col-8gap {
  @include m-col-1-grid;
}

.w-1col-16gap {
  @include m-col-1-grid($row-gap: em(16));
}

.w-1col-40gap {
  @include m-col-1-grid($row-gap: em(40));
}

.w-2col-8gap {
  @include m-col-2-grid($column-gap: em(8));
}

/* ----------------------- max width ------------------------------ */
.max-width-810 {
  max-width: em(810);
}

.max-width-330 {
  max-width: em(330);
}

.max-width-217 {
  max-width: em(217);
}

.max-width-413 {
  max-width: em(413);
}

@include tablet {
  .max-width-810 {
    max-width: px(565);
  }

  .max-width-330 {
    max-width: px(330);
  }

  .max-width-217 {
    max-width: px(217);
  }

  .max-width-413 {
    max-width: px(413);
  }

  .w-1col-16gap {
    @include m-col-1-grid($row-gap: px(8));
  }
}

@include horizmobile {

}

@include mobile {

}
