/* ----------------------- main ------------------------------ */
.ml-2{
  margin-left: em(2);
}

.ml-4{
  margin-left: em(4);
}

.ml-6{
  margin-left: em(6);
}

.ml-8{
  margin-left: em(8);
}

.ml-10{
  margin-left: em(10);
}

.ml-12{
  margin-left: em(12);
}

.ml-14{
  margin-left: em(14);
}

.ml-16{
  margin-left: em(16);
}

.ml-18{
  margin-left: em(18);
}

.ml-20{
  margin-left: em(20);
}

.ml-22{
  margin-left: em(22);
}

.ml-24{
  margin-left: em(24);
}

.ml-26{
  margin-left: em(26);
}

.ml-28{
  margin-left: em(28);
}

.ml-30{
  margin-left: em(30);
}

.ml-32{
  margin-left: em(32);
}

.ml-34{
  margin-left: em(34);
}

.ml-36{
  margin-left: em(36);
}

.ml-38{
  margin-left: em(38);
}

.ml-40{
  margin-left: em(40);
}

.ml-42{
  margin-left: em(42);
}

.ml-44{
  margin-left: em(44);
}

.ml-46{
  margin-left: em(46);
}

.ml-48{
  margin-left: em(48);
}

.ml-50{
  margin-left: em(50);
}

.ml-52{
  margin-left: em(52);
}

.ml-54{
  margin-left: em(54);
}

.ml-56{
  margin-left: em(56);
}

.ml-58{
  margin-left: em(58);
}

.ml-60{
  margin-left: em(60);
}

.ml-62{
  margin-left: em(62);
}

.ml-64{
  margin-left: em(64);
}

.ml-68{
  margin-left: em(68);
}

.ml-70{
  margin-left: em(70);
}

.ml-72{
  margin-left: em(72);
}

.ml-74{
  margin-left: em(74);
}

.ml-76{
  margin-left: em(76);
}

.ml-78{
  margin-left: em(78);
}

.ml-80{
  margin-left: em(80);
}

.ml-82{
  margin-left: em(82);
}

.ml-84{
  margin-left: em(84);
}

.ml-86{
  margin-left: em(86);
}

.ml-88{
  margin-left: em(88);
}

.ml-90{
  margin-left: em(90);
}

.ml-92{
  margin-left: em(92);
}

.ml-94{
  margin-left: em(94);
}

.ml-96{
  margin-left: em(96);
}

.ml-98{
  margin-left: em(98);
}

.ml-100{
  margin-left: em(100);
}

.ml-110{
  margin-left: em(110);
}

.ml-120{
  margin-left: em(120);
}

.ml-130{
  margin-left: em(130);
}

.ml-140{
  margin-left: em(140);
}

.ml-150{
  margin-left: em(150);
}

.ml-160{
  margin-left: em(160);
}

.ml-170{
  margin-left: em(170);
}

.ml-180{
  margin-left: em(180);
}

.ml-190{
  margin-left: em(190);
}

.ml-200{
  margin-left: em(200);
}

.ml-250{
  margin-left: em(250);
}

.ml-300{
  margin-left: em(300);
}

/* ----------------------- mobile ------------------------------ */
@include mobile {
  .ml-2{
    margin-left: px(2);
  }

  .ml-4{
    margin-left: px(4);
  }

  .ml-6{
    margin-left: px(6);
  }

  .ml-8{
    margin-left: px(8);
  }

  .ml-10{
    margin-left: px(10);
  }

  .ml-12{
    margin-left: px(12);
  }

  .ml-14{
    margin-left: px(14);
  }

  .ml-16{
    margin-left: px(16);
  }

  .ml-18{
    margin-left: px(18);
  }

  .ml-20{
    margin-left: px(20);
  }

  .ml-22{
    margin-left: px(22);
  }

  .ml-24{
    margin-left: px(24);
  }

  .ml-26{
    margin-left: px(26);
  }

  .ml-28{
    margin-left: px(28);
  }

  .ml-30{
    margin-left: px(30);
  }

  .ml-32{
    margin-left: px(32);
  }

  .ml-34{
    margin-left: px(34);
  }

  .ml-36{
    margin-left: px(36);
  }

  .ml-38{
    margin-left: px(38);
  }

  .ml-40{
    margin-left: px(40);
  }

  .ml-42{
    margin-left: px(42);
  }

  .ml-44{
    margin-left: px(44);
  }

  .ml-46{
    margin-left: px(46);
  }

  .ml-48{
    margin-left: px(48);
  }

  .ml-50{
    margin-left: px(50);
  }

  .ml-52{
    margin-left: px(52);
  }

  .ml-54{
    margin-left: px(54);
  }

  .ml-56{
    margin-left: px(56);
  }

  .ml-58{
    margin-left: px(58);
  }

  .ml-60{
    margin-left: px(60);
  }

  .ml-62{
    margin-left: px(62);
  }

  .ml-64{
    margin-left: px(64);
  }

  .ml-68{
    margin-left: px(68);
  }

  .ml-70{
    margin-left: px(70);
  }

  .ml-72{
    margin-left: px(72);
  }

  .ml-74{
    margin-left: px(74);
  }

  .ml-76{
    margin-left: px(76);
  }

  .ml-78{
    margin-left: px(78);
  }

  .ml-80{
    margin-left: px(80);
  }

  .ml-82{
    margin-left: px(82);
  }

  .ml-84{
    margin-left: px(84);
  }

  .ml-86{
    margin-left: px(86);
  }

  .ml-88{
    margin-left: px(88);
  }

  .ml-90{
    margin-left: px(90);
  }

  .ml-92{
    margin-left: px(92);
  }

  .ml-94{
    margin-left: px(94);
  }

  .ml-96{
    margin-left: px(96);
  }

  .ml-98{
    margin-left: px(98);
  }

  .ml-100{
    margin-left: px(100);
  }

  .ml-110{
    margin-left: px(110);
  }

  .ml-120{
    margin-left: px(120);
  }

  .ml-130{
    margin-left: px(130);
  }

  .ml-140{
    margin-left: px(140);
  }

  .ml-150{
    margin-left: px(150);
  }

  .ml-160{
    margin-left: px(160);
  }

  .ml-170{
    margin-left: px(170);
  }

  .ml-180{
    margin-left: px(180);
  }

  .ml-190{
    margin-left: px(190);
  }

  .ml-200{
    margin-left: px(200);
  }

  .ml-250{
    margin-left: px(250);
  }

  .ml-300{
    margin-left: px(300);
  }
}
