/* ----------------------- main ------------------------------ */
.mt-2{
  margin-top: em(2);
}

.mt-4{
  margin-top: em(4);
}

.mt-6{
  margin-top: em(6);
}

.mt-8{
  margin-top: em(8);
}

.mt-10{
  margin-top: em(10);
}

.mt-12{
  margin-top: em(12);
}

.mt-14{
  margin-top: em(14);
}

.mt-16{
  margin-top: em(16);
}

.mt-18{
  margin-top: em(18);
}

.mt-20{
  margin-top: em(20);
}

.mt-22{
  margin-top: em(22);
}

.mt-24{
  margin-top: em(24);
}

.mt-26{
  margin-top: em(26);
}

.mt-28{
  margin-top: em(28);
}

.mt-30{
  margin-top: em(30);
}

.mt-32{
  margin-top: em(32);
}

.mt-34{
  margin-top: em(34);
}

.mt-36{
  margin-top: em(36);
}

.mt-38{
  margin-top: em(38);
}

.mt-40{
  margin-top: em(40);
}

.mt-42{
  margin-top: em(42);
}

.mt-44{
  margin-top: em(44);
}

.mt-46{
  margin-top: em(46);
}

.mt-48{
  margin-top: em(48);
}

.mt-50{
  margin-top: em(50);
}

.mt-52{
  margin-top: em(52);
}

.mt-54{
  margin-top: em(54);
}

.mt-56{
  margin-top: em(56);
}

.mt-58{
  margin-top: em(58);
}

.mt-60{
  margin-top: em(60);
}

.mt-62{
  margin-top: em(62);
}

.mt-64{
  margin-top: em(64);
}

.mt-68{
  margin-top: em(68);
}

.mt-70{
  margin-top: em(70);
}

.mt-72{
  margin-top: em(72);
}

.mt-74{
  margin-top: em(74);
}

.mt-76{
  margin-top: em(76);
}

.mt-78{
  margin-top: em(78);
}

.mt-80{
  margin-top: em(80);
}

.mt-82{
  margin-top: em(82);
}

.mt-84{
  margin-top: em(84);
}

.mt-86{
  margin-top: em(86);
}

.mt-88{
  margin-top: em(88);
}

.mt-90{
  margin-top: em(90);
}

.mt-92{
  margin-top: em(92);
}

.mt-94{
  margin-top: em(94);
}

.mt-96{
  margin-top: em(96);
}

.mt-98{
  margin-top: em(98);
}

.mt-100{
  margin-top: em(100);
}

.mt-110{
  margin-top: em(110);
}

.mt-120{
  margin-top: em(120);
}

.mt-130{
  margin-top: em(130);
}

.mt-140{
  margin-top: em(140);
}

.mt-150{
  margin-top: em(150);
}

.mt-160{
  margin-top: em(160);
}

.mt-170{
  margin-top: em(170);
}

.mt-180{
  margin-top: em(180);
}

.mt-190{
  margin-top: em(190);
}

.mt-200{
  margin-top: em(200);
}

.mt-250{
  margin-top: em(250);
}

.mt-300{
  margin-top: em(300);
}

/* ----------------------- mobile ------------------------------ */
@include mobile {
  .mt-2{
    margin-top: px(2);
  }

  .mt-4{
    margin-top: px(4);
  }

  .mt-6{
    margin-top: px(6);
  }

  .mt-8{
    margin-top: px(8);
  }

  .mt-10{
    margin-top: px(10);
  }

  .mt-12{
    margin-top: px(12);
  }

  .mt-14{
    margin-top: px(14);
  }

  .mt-16{
    margin-top: px(16);
  }

  .mt-18{
    margin-top: px(18);
  }

  .mt-20{
    margin-top: px(20);
  }

  .mt-22{
    margin-top: px(22);
  }

  .mt-24{
    margin-top: px(24);
  }

  .mt-26{
    margin-top: px(26);
  }

  .mt-28{
    margin-top: px(28);
  }

  .mt-30{
    margin-top: px(30);
  }

  .mt-32{
    margin-top: px(32);
  }

  .mt-34{
    margin-top: px(34);
  }

  .mt-36{
    margin-top: px(36);
  }

  .mt-38{
    margin-top: px(38);
  }

  .mt-40{
    margin-top: px(40);
  }

  .mt-42{
    margin-top: px(42);
  }

  .mt-44{
    margin-top: px(44);
  }

  .mt-46{
    margin-top: px(46);
  }

  .mt-48{
    margin-top: px(48);
  }

  .mt-50{
    margin-top: px(50);
  }

  .mt-52{
    margin-top: px(52);
  }

  .mt-54{
    margin-top: px(54);
  }

  .mt-56{
    margin-top: px(56);
  }

  .mt-58{
    margin-top: px(58);
  }

  .mt-60{
    margin-top: px(60);
  }

  .mt-62{
    margin-top: px(62);
  }

  .mt-64{
    margin-top: px(64);
  }

  .mt-68{
    margin-top: px(68);
  }

  .mt-70{
    margin-top: px(70);
  }

  .mt-72{
    margin-top: px(72);
  }

  .mt-74{
    margin-top: px(74);
  }

  .mt-76{
    margin-top: px(76);
  }

  .mt-78{
    margin-top: px(78);
  }

  .mt-80{
    margin-top: px(80);
  }

  .mt-82{
    margin-top: px(82);
  }

  .mt-84{
    margin-top: px(84);
  }

  .mt-86{
    margin-top: px(86);
  }

  .mt-88{
    margin-top: px(88);
  }

  .mt-90{
    margin-top: px(90);
  }

  .mt-92{
    margin-top: px(92);
  }

  .mt-94{
    margin-top: px(94);
  }

  .mt-96{
    margin-top: px(96);
  }

  .mt-98{
    margin-top: px(98);
  }

  .mt-100{
    margin-top: px(100);
  }

  .mt-110{
    margin-top: px(110);
  }

  .mt-120{
    margin-top: px(120);
  }

  .mt-130{
    margin-top: px(130);
  }

  .mt-140{
    margin-top: px(140);
  }

  .mt-150{
    margin-top: px(150);
  }

  .mt-160{
    margin-top: px(160);
  }

  .mt-170{
    margin-top: px(170);
  }

  .mt-180{
    margin-top: px(180);
  }

  .mt-190{
    margin-top: px(190);
  }

  .mt-200{
    margin-top: px(200);
  }

  .mt-250{
    margin-top: px(250);
  }

  .mt-300{
    margin-top: px(300);
  }
}
