/* ----------------------- main ------------------------------ */
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.height-100vh {
  min-height: 100vh;
}

.height-100prc {
  height: 100%;
}

@include horizmobile {
  .horizmobile-hide {
    display: none;
  }
  }

@include mobile {
.mobile-hide {
  display: none;
}
}
