@import 'styles/reset';
@import 'styles/wrappers';
@import 'styles/system-class-mods/index';
@import 'styles/fontStyle';

/* ----------------------- main styles ------------------------------ */

/* scrollBar */


/* general */
body {
  font-size: $var-body-main-size-font;
  color: $c-gray-100;
  background-color: $c-gray-00;
}

section {
  position: relative;
  width: 100%;
  padding: em(48) em(48);
}

.container {
  width: 100%;
  max-width: em(1344);
}

.grid-4col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: em(8);
  grid-row-gap: em(8);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.grid-3col-article-w {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: em(8);
  grid-row-gap: em(80);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.grid-12col-w {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: em(8);
  grid-row-gap: em(80);
  grid-template-columns: repeat(12, 1fr);
}

/* Button and icons */

.ico-16px-w {
  width: em(16);
  height: em(16);
}

.main-big-button {
  font-size: em(16);
  color: $c-gray-100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: em(32) em(24) em(32) em(24);
  border-radius: em(2);
  cursor: pointer;
}

.accent-big-btn {
  background-color: $c-primary-accent;
  border-width: em(0)
}

.stroke-big-btn {
  background-color: $c-gray-00;
  border-width: em(1);
  border-color: $c-gray-100;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentcolor;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: attr(width) / attr(height);
}

.input-field {
  font-size: em(14);
  height: em(48);
  border-radius: em(12);
  border: em(1) solid $c-gray-96;
  padding: em(12);
}

@include tablet {
  body {
    background-color: green;
  }
}

@include horizmobile {
  body {
    background-color: blueviolet;
  }
}

@include mobile {
  body {
    background-color: red;
  }
}
