@import 'styles/reset';
@import 'styles/wrappers';
@import 'styles/system-class-mods/index';
@import 'styles/fontStyle';

/* ----------------------- main styles ------------------------------ */

/* scrollBar */




/* general */
body {
	font-size: $var-body-main-size-font;
}

section {
	position: relative;
	width: 100%;
	padding: em(40) em(82);
}

.container {
	max-width: em(1440);
}

button {
	cursor: pointer;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.main-grid{
	display: grid;
	gap: em(133);
	grid-template-columns: em(362) em(783);
}

.input-field{
	font-size: em(14);
	height: em(48);
	border-radius: em(12);
	border: em(1) solid $c-gray-96;
	padding: em(12);
}
